<h1><%= message %></h1>
<p>Welcome to our WS2 E-commerce Project!</p>

<div class="home-actions">
  <a class="btn btn-primary" href="/users/register">Register User</a>
  <a class="btn btn-edit" href="/users/list">View Users</a>
</div>
