<div class="success-container">
  <h1>Registration Successful!</h1>
  <p>
    User <strong><%= user.firstName %> <%= user.lastName %></strong>
    registered with ID: <code><%= user.userId %></code>
  </p>

  <a href="/users/login" class="btn">Proceed to Login</a>
</div>
